#text{
	text-align: center;
	font-size: 70px;
	padding: 30px;	
}
p{
	display: inline;
	opacity: .7;
	font-family: NotoSansHant-Bold;
	src: url(NotoSansHant-Bold.otf);	
}

#p1{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 2s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}
#p2{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2.5s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 2.5s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}

#p3{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 3s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}

#p4{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3.5s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 3.5s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}

#p5{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 4s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 4s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}

#p6{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 4.5s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 4.5s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}

#p7{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 5s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 5s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}

#p8{
	-webkit-animation-name: topa;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 5.5s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: topa;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 5.5s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	
}

@-webkit-keyframes topa {
    0%   {opacity: 0;}
    25%  {opacity: .25;}
    50%  {opacity: .45;}
    100% {opacity: .80;}
}

/* Standard syntax */
@keyframes topa {
    0%   {opacity: .2;}
    25%  {opacity: .45;}
    50%  {opacity: .55;}
    100% {opacity: .80;}
}

#words{
	font-size: 130px;
	position: absolute;
    line-height: 600px;
    width: 840px;
    text-align: center;
	z-index: 3;
	opacity: 0;
}
#words:hover{
	-webkit-animation-name: myopa;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
/*    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myopa;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
/*    animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-play-state: running;	

    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

@-webkit-keyframes myopa {
    0%   {opacity: 0;}
    25%  {opacity: .25;}
    50%  {opacity: .45;}
    100% {opacity: .80;}
}

/* Standard syntax */
@keyframes myopa {
    0%   {opacity: .2;}
    25%  {opacity: .45;}
    50%  {opacity: .55;}
    100% {opacity: .80;}
}

#container{
    text-align:center;
	opacity: 0.8;
	margin: 0 auto;
	margin-top: 30px;
	width: 840px;
	height: 600px;
	z-index: 1;
	cursor: url(heart.cur),url(heart.ico),crosshair;
}
#red{	
	float: left;
	width: 120px;
	height: 600px;
	background-color: red;
	border-radius: 30px 0px 0px 30px;
	z-index: 1;
	    /* Chrome, Safari, Opera */
    -webkit-animation-name: myred;
    -webkit-animation-duration: 14s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myred;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}
#orange{
	float: left;
	width: 120px;
	height: 600px;
	background-color: orange;

	-webkit-animation-name: myorange;
    -webkit-animation-duration: 14s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myorange;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
#yellow{
	float: left;	
	width: 120px;
	height: 600px;
	background-color: yellow;

	-webkit-animation-name: myyellow;
    -webkit-animation-duration: 14s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myyellow;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;	
}
#green{
	float: left;	
	width: 120px;
	height: 600px;
	background-color: green;

	-webkit-animation-name: mygreen;
    -webkit-animation-duration: 14s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: mygreen;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;	
}
#blue{
	float: left;
	width: 120px;
	height: 600px;
	background-color: blue;

	-webkit-animation-name: myblue;
    -webkit-animation-duration: 14s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myblue;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;	
}
#indigo{
	float: left;
	width: 120px;
	height: 600px;
	background-color: indigo;

	-webkit-animation-name: myindigo;
    -webkit-animation-duration: 14s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myindigo;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;	
}
#purple{
	float: left;
	width: 120px;
	height: 600px;
	background-color: purple;
	border-radius: 0px 30px 30px 0px;

	-webkit-animation-name: mypurple;
    -webkit-animation-duration: 14s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: mypurple;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;	
}

@-webkit-keyframes myred {
    14%   {background: orange;}
    28%  {background: yellow;}
    42%  {background: green;}
    56% {background: blue;}
    70% {background: indigo;}
    84% {background: purple;}
    96% {background: red;}    
}

@keyframes myred {
    14%   {background: orange;}
    28%  {background: yellow;}
    42%  {background: green;}
    56% {background: blue;}
    70% {background: indigo;}
    84% {background: purple;}
    96% {background: red;}  
}
@-webkit-keyframes myorange {
    96%   {background: orange;}
    14%  {background: yellow;}
    28%  {background: green;}
    42% {background: blue;}
    56% {background: indigo;}
    70% {background: purple;}
    84% {background: red;}    
}

@keyframes myorange {
    96%   {background: orange;}
    14%  {background: yellow;}
    28%  {background: green;}
    42% {background: blue;}
    56% {background: indigo;}
    70% {background: purple;}
    84% {background: red;}  
}

@-webkit-keyframes myyellow {
    84%   {background: orange;}
    96%  {background: yellow;}
    14%  {background: green;}
    28% {background: blue;}
    42% {background: indigo;}
    56% {background: purple;}
    70% {background: red;}    
}

@keyframes myyellow {
    84%   {background: orange;}
    96%  {background: yellow;}
    14%  {background: green;}
    28% {background: blue;}
    42% {background: indigo;}
    56% {background: purple;}
    70% {background: red;}    
}

@-webkit-keyframes mygreen {
    70%   {background: orange;}
    84%  {background: yellow;}
    96%  {background: green;}
    14% {background: blue;}
    28% {background: indigo;}
    42% {background: purple;}
    56% {background: red;}    
}

@keyframes mygreen{
    70%   {background: orange;}
    84%  {background: yellow;}
    96%  {background: green;}
    14% {background: blue;}
    28% {background: indigo;}
    42% {background: purple;}
    56% {background: red;}     
}

@-webkit-keyframes myblue {
    56%   {background: orange;}
    70%  {background: yellow;}
    84%  {background: green;}
    96% {background: blue;}
    14% {background: indigo;}
    28% {background: purple;}
    42% {background: red;}    
}

@keyframes myblue{
    56%   {background: orange;}
    70%  {background: yellow;}
    84%  {background: green;}
    96% {background: blue;}
    14% {background: indigo;}
    28% {background: purple;}
    42% {background: red;}      
}

@-webkit-keyframes myindigo {
    42%   {background: orange;}
    56%  {background: yellow;}
    70%  {background: green;}
    84% {background: blue;}
    96% {background: indigo;}
    14% {background: purple;}
    28% {background: red;}    
}

@keyframes myindigo{
    42%   {background: orange;}
    56%  {background: yellow;}
    70%  {background: green;}
    84% {background: blue;}
    96% {background: indigo;}
    14% {background: purple;}
    28% {background: red;} 
}

@-webkit-keyframes mypurple {
    28%   {background: orange;}
    42%  {background: yellow;}
    56%  {background: green;}
    70% {background: blue;}
    84% {background: indigo;}
    96% {background: purple;}
    14% {background: red;}    
}

@keyframes mypurple{
    28%   {background: orange;}
    42%  {background: yellow;}
    56%  {background: green;}
    70% {background: blue;}
    84% {background: indigo;}
    96% {background: purple;}
    14% {background: red;}  
}
